.title_date_card {
  color: var(--color-font-primary);
  font-size: 24px;
  font-weight: 700;
}

.title_card {
  color: var(--color-font-primary);
  font-size: 40px;
  font-weight: 700;
}

.text_card {
  color: var(--color-font-primary);
  font-size: 18px;
  opacity: 0.8;
}

#h2_title {
  color: var(--color-font-primary);
  font-size: 10vh;
}

.img_icons {
width: 3vw;
}

.img_icons1 {
  width: 6vw;
}