#skills {
  background-color: var(--color-skills-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
}

#cards_content_container {
  height: auto;
  display: flex;
  flex-direction: column;
}
