.home_hero_content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



.slider {
  display: flex;
}

#hero_hero {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: center;
  gap: 10vh;
  bottom: 6rem;
  width: 100vh;
}
